body {
    height: 100%;
  background: linear-gradient(to bottom, #4C739B 0%, #B0D5A7 100%) fixed;

 
}

button {
  background: transparent;
  border: none;
  cursor:pointer;
  color: lightblue;
  font-size: 30px;
}

:focus {outline:none;
border: none;}
::-moz-focus-inner {border:none;}

.chip {
  border:1px solid lightblue;
  color:#ddffed;
  box-shadow: 0px 0px 50px 5px  #ddffed;
  width: 600px;
  background: rgba(0,51,102, .3);
  padding: 50px;
  position: relative;
  top: 80px;
  margin: 0 auto;
  border-radius: 30px;
  
}

.display-3,
h3,
h4,
h6,
button {
  font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

#weather-icon,
#btnFahrenheit {
  color: #2d314a;
}

#description {
  position: relative;
  top: -5px;

}

#otherDetails {
  margin-top: 10px;
  color:#ddffed;
  position: relative;
  left:15px;
  top:42px;
  
}
#weather-icon{
  color:#ddffed;
}